body {
  margin-top: 80px;
}

.selected > .txt {
  background: #f2f2f2;
  border: #ccc;
}
li {
  padding: 2px;
  list-style: none;
}

li.closed:before {
  content: "▶︎ ";
  font-size: 10px;
}

li.open:before {
  content: "▼ ";
  font-size: 10px;
}

li p {
  padding: 2px; margin: 0;
  line-height: 1.2em;
  display: inline-block;
  width: 80%;
  min-height: 20px;
}

